node_modules
.git
.gitignore
.vagrant
.idea
.nyc_output

build
doc
esdoc
test
coverage

*.log
*.pid
*.seed

.env
settings.js
settings-production.js
libretaxi-*-credentials.json
libretaxi-e949f-firebase-adminsdk-*.json
vcall-*-firebase-adminsdk-*.json

Vagrantfile
provision.sh
deploy.sh
connect.log
libretaxi.log

README.md
CHANGELOG.md
REQUIREMENTS.md
ALUR_MESSAGE.md
LICENSE
.travis.yml
.editorconfig
